<body>
Encapsulates data related to the different types of obfuscation. Each obfuscation is given its 
own class, each of which is derived from the abstract base class <code>Obfuscation</code>.
<h1>Package Design</h1>
<img src="doc-files/package.gif">
</body>