<body>
Defines interface for domain implementations. New domains can be created and used with this program by
create at least two new class: one inherited from <code>State</code> and the other inherited from 
<code>Value</code>. The <code>DomainFactory</code> may need to be updated as well so that it is 
aware of the new domain.
<p>
Each new domain must provide implementations for operations such as loading and storing values, 
adding or subtracting values, manipulating registers, etc. The abstract base class <code>State</code>, 
however, will take care of handing the flag registers (a service provided by the 
<code>FlagRegisterStore</code>, so implementation needs not worry about the flags.

<h1>Package Design</h1>
<img src="doc-files/package.gif">
</body>
