<body>
Provides implementations of <code>true</code> and <code>false</code> suitable for 
abstract interpretation. Four classes are provided which all inherit from a base interface. 
The four class create a lattice with <code>TopBoolean</code> at the top and <code>BottomBoolean</code>
at the bottom. In between are <code>TrueBoolean</code> and <code>FalseBoolean</code>. 
<p>
Users of this package 
should access the static fields <code>AbstractBoolean.Top</code>, <code>AbstractBoolean.True</code>, 
<code>AbstractBoolean.False</code>, and <code>AbstractBoolean.Bottom</code>, 
instead of creating instances of <code>TopBoolean</code>, <code>TrueBoolean</code>,
<code>FalseBoolean</code>, and <code>BottomBoolean</code> directly.
<p>
<h1>Package Design</h1>
<img src="doc-files/package.gif">
</body>