<body>
	Supports sorting of <code>Object</code>s based on dependencies between the 
	<code>Object</code>s. The dependencies 
	(along with the <code>Object</code>s) are encapsulated within the <code>Item</code> 
	class. The <code>DependencyTable</code>
	maintains a collection of <code>Item</code>s and is designed to retreive 
	<code>Item</code>s with the 
	fewest depedencies. The <code>DependencyTable</code> class is 
	intended for applications, such as data-flow analysis, where one may want to analyze
	the control-flow graph nodes in order of the number of dependencies (or predecessors), 
	starting with the lowest.
	<p>
	A <code>Priority</code> class is also available that allows the user to set a priority level to
	each <code>Item</code> in the <code>DependencyTable</code>. The priority acts as a suggestion to the
	<code>DependencyTable</code> as to which <code>Item</code> to choose next whenever two or more 
	<code>Item</code>s have	each have the lowest number of dependencies.
	<h1>Package Design</h1>
	<img src="doc-files/package.gif">	
</body>