<body>
	Performs abstract interpretation of x86 assembly programs. The <code>Interpreter</code> manages
	the high-level interpretation process. Each instruction provides an <code>interpret</code> function that
	knows how to interpret itself. The <code>Interpreter</code> then maintains a 
	<code>Worklist</code> of <code>Instruction</code>s needing interpretation and simply tells
	each <code>Instruction</code> in the <code>Worklist</code> to interpret itself.  
	The <code>Interpreter</code> must also take care to merge different <code>domain.State</code>s
	and perform other maintenance actions as needed..
	<p>
	A parser exists that can parse assembly programs disassembled with OllyDbg. The class
	<code>Parser</code> acts as a wrapper (or Facade) for the class <code>X86Parser</code>,
	which does the real parsing.  The parser is built with JavaCC. The JavaCC input
	is specified in the file <code>x86.jjt</code>. After modifying this file, be sure to run
	JavaCC to rebuild the parser class, all of the different instruction classes, and any other
	classes that are needed.
	<p>
	The <code>ControlFlowGraph</code> is built dynamically during interpretation and is used
	to assist in choosing which <code>Instruction</code> should be interpreted next.
	
	<h1>Package Design</h1>
	<img src="doc-files/package.gif">
</body>