<body>
	Displays the runtime stack. The <code>StackView</code> relies on an implementation of
	<code>ui.directedGraph.IDirectedGraphContentProvider</code> and
	<code>ui.directedGraph.IDirectedGraphLabelProvider</code>. Because the internal
	stack representation is highly dependent on the particular domain in use, each domain
	implementation should provide implementation of these two interfaces. 
</body>