<body>
	Implementation of VSA+ASG domain. This domain merges the ideas of Value-Set Analysis (VSA) with
	the Abstract Stack Graph (ASG). A new state, <code>VsaAsgState</code>, and a new value, 
	<code>Value</code>, are provided that provide the basis of this domain. The VSA domain
	is encapsulated in the <code>ReducedIntervalCongruence</code>, 
	<code>ReducedIntervalCongruenceTop</code>, and <code>ReducedIntervalCongruenceBottom</code>
	classes. The ASG domain is encapsulated within the <code>AbstractStackGraph</code>,
	<code>StackLocation</code>, <code>StackLocationSet</code>, <code>StackLocationSetTop</code>,
	and <code>StackLocationSetBottom</code> classes. Each <code>Value</code> holds both an 
	<code>IReducedIntervalCongruence</code> object and an
	<code>IStackLocationSet</code> object. 
	
	<p>
	All <code>Value</code>s are stored in an <code>IMemoryTable</code>. To retrieve a <code>Value</code>, one
	must first obtain the <code>MemoryArea</code> of where the <code>Value</code> is located. 
	For instance, each node in the <code>AbstractStackGraph</code> holds a <code>MemoryArea</code>
	that can be used to find the <code>Value</code> that is located at that stack node.
	<p>
	Three classes are derived from the <code>IMemoryTable</code> interface: 
	the <code>RootMemoryTable</code>, <code>MergedMemoryTable</code>,
	and <code>MemoryTable</code>. The decision for this design was for space efficiency. 
	These classes can be linked together in a way that reduces
	the amount of space needed to store the memory data.
	
	<h1>Package Design</h1>
	<img src="doc-files/package.gif">
</body>