<body>
	Implementation of the main editor window. An instance of <code>ProgramViewer</code>
	is created by Eclipse when the user opens a <code>.asm</code> file (as specified
	in the <code>plugin.xml</code> file). Upon construction, the <code>ProgramViewer</code>
	creates an <code>AsmFileDocumentProvider</code> that is responsible for processing
	the input file, creating a text representation of it, and creating an instance
	of <code>x86ParserInterpreter.Program</code> that will from here on be used as
	the internal representation of the input program.
</body>