<body>
	Provides support for drawing directed graphs. Users can subclass 
	<code>DirectedGraphViewer</code> to add domain-specific behavior. 
	Users should implement the interfaces <code>IDirectedGraphContentProvider</code>
	and <code>IDirectedGraphLabelProvider</code>.
</body>