<body>
	Displays lists of existing markers attached to the open document. A marker view exists for
	each type of marker (such as the different obfusction markers, for instance). Each view is
	derived from the base class <code>MarkerView</code>, where the majority of the view code
	resides. A new marker view can easily be added by extending the <code>MarkerView</code>
	class and implementing the <code>createPartControl</code> function.  Within this function,
	call the <code>setMarkerFilter</code> function passing it a <code>String</code> identifying
	the marker type that this view should display.
	<h1>Package Design</h1>
	<img src="doc-files/package.gif">
</body>