<body>

Different analyses that can be run on the input program are located here, along with
various classes related to analyses.

<p>

<h1>Package Design</h1>
<img src="doc-files/package.gif">

<p>
<h1>Sequence Diagram</h1>
<img src="doc-files/sequence.gif">
</body>