body
{
  margin: 10px;
}

h1
{
  margin-left: -10px;
  margin-top: -10px;
  margin-right: -10px;
  padding-bottom: 10px;
  border: 1px black solid;
  background-color: lightyellow;
  font-family: helvetica, sans-serif;
  align: center;
  text-align: center;
}

h2
{
  font-family: helvetica, sans-serif;
}

h3
{
  font-family: helvetica, sans-serif;
}

div.prerequisite
{
  border: 1px solid black;
  background-color: pink;
  margin: 20px;
  padding: 5px;
}

div.prerequisite h2
{
  margin-top: 0px;
  border-bottom: 1px solid lightgray;
}

div.prerequisite div.libraryname
{
  font-family: helvetica, sans-serif;
  font-weight: bold;
  font-size: larger;
}

div.prerequisite font.libraryproperty
{
  font-family: helvetica, sans-serif;
}

table.maindocument
{
  margin-left: -5px;
  margin-top: 0px;
  margin-right: 15px;
  float: left;
  width: 100%;
}

td.navmenu
{
  vertical-align: top;
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightyellow;
  font-family: helvetica, sans-serif;
  white-space: nowrap;
  line-height: 200%;
}

td.content
{
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}