<body>
	Displays register contents. The <code>RegisterContentProvider</code> is responsible for
	displaying the inforamtion, while the <code>RegisterContentProvider</code> provides
	the register values and the <code>RegisterLabelProvider</code> converts the values
	to <code>String</code>s for display.
	<h1>Package Design</h1>
	Illustration of process of updating the display after user interaction.<br>
	<img src="doc-files/package.gif">
</body>