<body>
Implementations of user-interface actions. In Ecliipse, each user command is represented 
as an <code>Action</code>. These includes things such as initiating interpretation, selecting
the entry point, etc.  All user-interface actions are placed in this package. The 
<code>plugin.xml</code> file provides the mapping from Eclipse extension point to the action
class in this package.
</body>